<ngx-smart-modal identifier="{{ modalIdentifier }}">
  <div class="modal container">
    <p class="modal title">Add new category</p>
    <info-box *ngIf="hasCategoryAdded === true">A new category has been successfully added!</info-box>
    <form [formGroup]="addNewCategoryForm">
      <div class="form__group">
        <form-label for="categoryname" [control]="addNewCategoryForm.get('name')" [isFormSubmitted]="hasSubmittedForm">
          Name:
        </form-label>
        <app-input type="input" formControlName="name" identifier="categoryname"
          placeholder="Enter category new name...">
        </app-input>
      </div>
      <modal-footer align="right">
        <app-button theme="blue" (click)="addNewCategory()">Add</app-button>
      </modal-footer>
    </form>
  </div>
</ngx-smart-modal>