.label {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: black;
	font-size: 22px;
	margin-bottom: 5px;
	display: inline-block;
	letter-spacing: -1px;

  &.error {
    color: red;
  }
}
