<header class="heading">
    <div class="heading__block">
        <fa-icon [icon]="faCalendar" size="2x"></fa-icon>
        <p class="heading__date">{{ currentDate | date: 'mediumDate' }}</p>
    </div>

    <form [formGroup]="searchForm" class="searchform">
        <div class="mobilemenu" (click)="runSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <app-input
            formControlName="searchTodoName"
            placeholder="Enter task's details..."
            [icon]="faSearch"
        ></app-input>
        <app-button theme="blue" (onClick)="searchForTasks()" [hiddenMobile]="true">Search</app-button>
        <app-button theme="blue" class="move-to-right">New task</app-button>
    </form>
</header>