<div class="task">
    <div class="task__top">
        <div class="task__date">
            <fa-icon [icon]="faClock"></fa-icon> 26 wrzesień (za 4 dni)
        </div>

        <div class="task__settings" [matMenuTriggerFor]="menu">
            <fa-icon [icon]="faEllipsisV"></fa-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="task__title">
        Przykladowy task 123
    </div>

    <div class="task__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
    </div>

    <div class="task__status">
        <fa-icon [icon]="faTick"></fa-icon> Completed
    </div>
</div>