<ngx-smart-modal
  identifier="{{ modalIdentifier }}"
  (onClose)="handleCloseModal()"
  [dismissable]="false">
  <div class="modal container">
    <info-box *ngIf="isNewTaskAdded === true">The new task has been added successfully!</info-box>
    <p class="modal title">Add new task</p>
    <form [formGroup]="addNewTaskForm">
      <div class="form__group">
        <label
          for="taskname"
          class="label"
          [class.error]="
            getControl('name').touched === true &&
            getControl('name').errors || hasSubmittedForm === true &&
            getControl('name').invalid === true">
          Task name
        </label>
        <app-input
          type="input"
          formControlName="name"
          identifier="taskname"
          placeholder="Enter task's new name"
          [isFormSubmitted]="hasSubmittedForm">
        </app-input>
      </div>

      <div class="form__group">
        <label
          for="description"
          class="label"
          [class.error]="
            getControl('description').touched === true &&
            getControl('description').errors || hasSubmittedForm === true &&
            getControl('description').invalid === true">
          Description
        </label>
        <app-input
          type="textarea"
          formControlName="description"
          identifier="description"
          placeholder="Enter task's description"
          [isFormSubmitted]="hasSubmittedForm">
        </app-input>
      </div>

      <div class="form__group">
        <label
          for="important"
          class="label"
          [class.error]="
            getControl('important').touched === true &&
            getControl('important').errors || hasSubmittedForm === true &&
            getControl('important').invalid === true">
          Is important?
        </label>
        <app-input
          type="radio"
          formControlName="important"
          identifier="important"
          [isFormSubmitted]="hasSubmittedForm">
        </app-input>
      </div>

      <div class="form__group">
        <div class="form__col form__spacing">
          <div class="form__col--box">
            <label
              class="label"
              [class.error]="
                getControl('finishDay').touched === true &&
                getControl('finishDay').errors || hasSubmittedForm === true &&
                getControl('finishDay').invalid === true">
              End date
            </label>
            <mat-form-field appearance="fill">
              <mat-label>Choose end date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="finishDay">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form__col--box">
            <label class="label">
              End hour
            </label>
            <app-input
              type="time"
              formControlName="finishHour"
              placeholder="Enter end hour">
            </app-input>
          </div>
        </div>
      </div>

      <div class="form__group">
        <label
          for="taskname"
          class="label"
          [class.error]="
            getControl('category').touched === true &&
            getControl('category').errors || hasSubmittedForm === true &&
            getControl('category').invalid === true">
          Category
        </label>
        <app-input
          type="select"
          formControlName="category"
          [options]="taskCategories$ | async">
        </app-input>
        <small class="modal small">
          Can't find?
          <span class="modal highlight" (click)="openNewTaskCategoryModal()">Create a new one!</span>
        </small>
      </div>

      <div class="modal footer">
        <app-button theme="white" (onClick)="clearTaskForm()">Clear</app-button>
        <app-button theme="blue" (onClick)="submitCreateNewTask()">Create</app-button>
      </div>
    </form>
  </div>
</ngx-smart-modal>

<new-category-modal></new-category-modal>