@import "../../../../../assets/breakpoints.scss";

.task {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	height: auto;
	padding: 20px 20px 20px 20px;
	margin-top: 20px;
	margin-left: 20px;
  border-radius: 5px;

	@media only screen and (min-width: $large) {
		width: 300px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__date {
		color: #a3a2a2;
		font-size: 12px;
		padding-top: 5px;
	}

	&__settings {
		color: #a3a2a2;
		//padding: 10px;
		&:hover {
			cursor: pointer;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 500;
	}

	&__description {
		color: #656565;
		font-size: 15px;
		margin-top: 15px;
		line-height: 1.5;
		white-space: pre-line;
	}

	&__status {
		color: rgb(77, 202, 77);
		padding-top: 20px;
	}
}
