<!-- <ngx-smart-modal identifier="{{ modalIdentifier }}">
  <div class="modal container">
    <p class="modal title">Add new category</p>
    <info-box *ngIf="hasCategoryAdded === true"
      >A new category has been successfully added!</info-box
    >
    <form [formGroup]="addNewCategoryForm">
      <div class="form__group">
        <label
          for="categoryname"
          class="label"
          [class.error]="
            (addNewCategoryForm.get('name')!.touched === true &&
              addNewCategoryForm.get('name')!.errors) ||
            (hasSubmittedForm === true &&
              addNewCategoryForm.get('name')!.invalid === true)
          "
        >
          Name:
        </label>
        <app-input
          type="input"
          formControlName="name"
          ngDefaultControl
          identifier="categoryname"
          placeholder="Enter category new name..."
        >
        </app-input>
      </div>
      <div class="modal footer">
        <app-button theme="blue" (click)="addNewCategory()">Add</app-button>
      </div>
    </form>
  </div>
</ngx-smart-modal> -->
