:host {
    flex-direction: row;
    --gap: 20px;
	display: inline-flex;
	flex-wrap: nowrap;
	margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
	width: calc(100% + var(--gap));
}

.box {
    width: 45%;
    margin: var(--gap) 0 0 var(--gap);
}